<div class="backdrop is-hidden" data-order-modal>
  <div class="modal">
    <button type="button" class="modal__close" data-order-modal-close aria-label="Закрити">
      <svg class="modal__close-icon" width="24" height="24">
        <use href="/src/images/icons/icons.svg#icon-x"></use>
      </svg>
    </button>

    <p class="modal__title">Замовити</p>

    <form class="form js-order-form" data-order-form>
      <div class="form-field" data-form-field="name">
        <label for="user-name" class="form-label">Ім'я*</label>
        <input type="text" name="name" id="user-name" class="form-input" data-order-form-name placeholder="Дмитро"
          minlength="2" maxlength="64" required />
        <span class="form-error" data-form-error="name">Введіть ім'я</span>
      </div>

      <div class="form-field" data-form-field="phone">
        <label for="user-tel" class="form-label">Телефон*</label>
        <input type="tel" name="phone" id="user-tel" class="form-input" data-order-form-phone
          placeholder="+39 347 123 4567" inputmode="tel" autocomplete="tel" required />
        <span class="form-error" data-form-error="phone">10-15 цифр</span>
      </div>

      <div class="form-field" data-form-field="comment">
        <label for="user-comment" class="form-label">Коментар</label>
        <textarea name="comment" id="user-comment" class="form-textarea" data-order-form-comment
          placeholder="Введіть ваш коментар" minlength="5" maxlength="256"></textarea>
        <span class="form-error" data-form-error="comment">5-256 символів</span>
      </div>

      <button type="submit" class="btn btn--primary btn--order-form" data-order-form-submit>
        Надіслати заявку
      </button>
    </form>
  </div>
</div>