.ac {
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid rgba(8, 12, 9, 0.15); 
}

.border-item-top {
    border-top: 1px solid rgba(8, 12, 9, 0.15);
}

.ac-question {
    display: block;
    flex: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    color: #080c09;
}

.faq {
    padding-top: 48px;
    padding-bottom: 48px;
}

.ac-trigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 20px 0px;
    border: none;
    text-align: left;
}

.ac-trigger .faq-icon-svg {
    flex-shrink: 0;
}

.icon-close {
    display: none;
}

.faq-title {
    margin-bottom: 32px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #080c09;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
}


.ac-text {
    font-family: "Raleway", sans-serif;

    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #080c09;
}

.ac-panel {
    overflow: hidden;
    transition-property: height;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.ac.is-open .ac-panel {
    padding-bottom: 24px;
}

@media (min-width: 375px) {
    .ac {
        max-width: 335px;
    }

    .ac-question {
        max-width: 279px;
    }
}


@media (min-width: 768px) {
    .ac {
        max-width: 704px;
    }

    .ac-question {
        max-width: 649px;
    }
}

@media (min-width: 1440px) {
    .faq {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .ac {
        max-width: 865px;
    }

    .ac-question {
        max-width: 809px;
        font-size: 18px;
    }

    .faq-title {
        font-size: 48px;
    }

    .accordion-container {
        max-width: 865px;
        margin: 0 auto;
    }

    .test-item {
        min-width: 865px;
    }

}