.ac {
    width: 100%;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(8, 12, 9, 0.15);
}

.border-item-top {
    border-top: 1px solid rgba(8, 12, 9, 0.15);
}

.ac-question {
    display: block;
    flex: 1;
    min-width: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    color: #080c09;
}

.faq {
    padding-top: 48px;
    padding-bottom: 48px;
}

.ac-trigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    padding: 20px 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}

.ac-trigger .faq-icon-svg {
    margin-left: auto;
    flex-shrink: 0;
}

.ac-trigger .icon-open {
    display: block;
}

.ac-trigger .icon-close {
    display: none;
}

.ac.is-active .ac-trigger .icon-open {
    display: none;
}

.ac.is-active .ac-trigger .icon-close {
    display: block;
}

.faq-title {
    margin-bottom: 32px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #080c09;
}

.accordion-container {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
}


.ac-text {
    font-family: "Raleway", sans-serif;

    margin: 0;
    padding: 0 0 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #080c09;
}

.ac-panel {
    overflow: hidden;
    transition-property: height;
    transition-timing-function: ease-out;
    will-change: height;
}

@media (min-width: 768px) {
    .accordion-container {
        max-width: 704px;
    }
}

@media (min-width: 1440px) {
    .faq {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .ac-question {
        font-size: 18px;
    }

    .faq-title {
        font-size: 48px;
    }

    .accordion-container {
        max-width: 865px;
    }

}