<section class="furniture container" id="categories" aria-labelledby="categories-title">
  <div class="section-header">
    <h2 class="furniture-title" id="categories-title">Наші меблі</h2>
    <p class="furniture-subtitle">
      Знайдіть ідеальні рішення для вашого інтер'єру
    </p>

    <div class="furniture-filters" aria-label="Фільтр товарів за категоріями">
      <ul class="categories-list" data-categories-list>
        <li class="categories-list__item">
          <button class="category-btn is-active" type="button" data-category-filter="" aria-pressed="false">
            <img src="src/images/categories/all-goods@1x.webp" srcset="src/images/categories/all-goods@2x.webp 2x"
              alt="" class="fill-image" />
            <span>Всі товари</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>