<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./src/css/section/categories.css" />

</head>
<body>
  <section class="furniture">
  <div class="section-header">
    <h2 class="furniture-title">Наші меблі</h2>
    <p class="furniture-subtitle">
      Знайдіть ідеальні рішення для вашого інтер'єру
    </p>
<div class="furniture-filters">
   <ul id="categories">
    <li><button class="category-btn active" data-category="all">
    <img src="src/images/categories/all-goods@1x.webp" 
    srcset="src/images/categories/all-goods@2x.webp 2x"
    alt="Всі товари" class="fill-image"> 
    <span>Всі товари</span>
    </button>
  </li>
   </ul>    
</div>

</div>
</section>
</body>
</html>
  
  
  
