<div class="mobile-menu-container is-hidden" data-menu>
  <div class="mobile-menu">
    <button type="button" class="mobile-menu__close" data-menu-close>
      <svg class="mobile-menu__close-icon" width="24" height="24">
        <use href="icon-icon-x"></use>
      </svg>
    </button>

    <nav class="mobile-menu__nav">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a href="#about" class="mobile-menu__link" data-menu-link>About</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#categories" class="mobile-menu__link" data-menu-link
            >Categories</a
          >
        </li>
        <li class="mobile-menu__item">
          <a href="#products" class="mobile-menu__link" data-menu-link
            >Products</a
          >
        </li>
        <li class="mobile-menu__item">
          <a href="#footer" class="mobile-menu__link" data-menu-link
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
