<section id="hero" class="hero">
  <div class="container">
    <div class="hero-title-wrapper">
      <h2 class="hero-title">Створіть свій ідеальний дім</h2>
    </div>
    <div class="hero-content">
      <h3 class="hero-text">
        Відкрийте для себе колекцію стильних та комфортних меблів, які
        перетворять ваш простір. Наша продукція поєднує в собі елегантність та
        функціональність.
      </h3>
      <a href="#reviews" class="btn btn--primary hero-btn"
        >Що про нас думають</a
      >
    </div>
  </div>
</section>
