<section id="feedback" class="feedback">
  <div class="container feedback-container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>

    <p class="section-text feedback-subtitle">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>

    <!-- Слайдер -->
    <div class="feedback-slider">
      <ul class="feedback-list">
        <li class="feedback-item">
          <div class="feedback-card">
            <!-- ⭐ рейтинг -->
            <ul class="feedbacks-star-list">
              <li class="feedbacks-star-item">
                <svg class="icon-star" width="20" height="20">
                  <use href="src/images/icons/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="feedbacks-star-item">
                <svg class="icon-star" width="20" height="20">
                  <use href="src/images/icons/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="feedbacks-star-item">
                <svg class="icon-star" width="20" height="20">
                  <use href="src/images/icons/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="feedbacks-star-item">
                <svg class="icon-star" width="20" height="20">
                  <use href="src/images/icons/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="feedbacks-star-item">
                <svg class="icon-star" width="20" height="20">
                  <use href="src/images/icons/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <!-- текст -->
            <p class="feedback-text">
              "Дуже задоволена покупкою! Диван не тільки стильний, а й неймовірно
              зручний."
            </p>

            <!-- автор -->
            <p class="feedback-author">Олена Коваль</p>
          </div>
        </li>
      </ul>
    </div>

    <!-- кнопки -->
    <div class="feedback-controls">
      <button class="btn-prev">
        <svg class="btn-icon" width="20" height="20">
          <use href="src/images/icons/icons.svg#icon-left-arrow-alt"></use>
        </svg>
      </button>
      <button class="btn-next">
        <svg class="btn-icon" width="20" height="20">
          <use href="src/images/icons/icons.svg#icon-right-arrow-alt"></use>
        </svg>
      </button>
    </div>

    <!-- пагінація -->
    <div class="feedback-pagination"></div>
  </div>
</section>