<section id="reviews" class="feedback">
  <div class="container feedback-container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>

    <p class="section-text feedback-subtitle">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>

    <div class="feedback-slider swiper">
      <ul class="feedback-list swiper-wrapper"></ul>
    </div>

    <div class="feedback-navigation">
      <div class="feedback-pagination" aria-label="Пагінація відгуків"></div>

      <div class="feedback-controls">
        <button class="btn-prev" type="button" aria-label="Попередній відгук">
          <svg class="btn-icon" width="20" height="20" aria-hidden="true">
            <use href="src/images/icons/icons.svg#icon-left-arrow-alt"></use>
          </svg>
        </button>
        <button class="btn-next" type="button" aria-label="Наступний відгук">
          <svg class="btn-icon" width="20" height="20" aria-hidden="true">
            <use href="src/images/icons/icons.svg#icon-right-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
