<section class="products">
    <div class="container">

        <ul class="products-list">

            <li class="product-card">
                <img src="/src/images/categories/soft-furniture.webp" alt="Product" class="product-card__img" />

                <div class="product-card__content">
                    <h3 class="product-card__title">
                        Назва товару
                    </h3>

                    <ul class="product-card__colors">
                        <li class="product-card__color" style="background-color:#d9d9d9;"></li>
                        <li class="product-card__color" style="background-color:#a67c52;"></li>
                        <li class="product-card__color" style="background-color:#000000;"></li>
                    </ul>

                    <p class="product-card__price">
                        9 999 грн
                    </p>

                    <button class="product-card__btn">
                        Детальніше
                    </button>
                </div>
            </li>

        </ul>

    </div>
</section>