<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq-title">Часті питання</h2>

    <ul class="accordion-container">
      <li class="ac border-item-top">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="ac-question">Як здійснюється доставка меблів?</span>
            <svg
              class="faq-icon-svg icon-open"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="src/images/icons/icons.svg#icon-chevron-down"></use>
            </svg>

            <svg
              class="faq-icon-svg icon-close"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="src/images/icons/icons.svg#icon-chevron-up"></use>
            </svg>
          </button>
        </h3>

        <div class="ac-panel">
          <p class="ac-text">
            Ми доставляємо замовлення по всій Україні через надійні служби.
            Термін доставки зазвичай складає 3–7 днів залежно від регіону.
          </p>
        </div>
      </li>

      <li class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="ac-question"
              >Чи є можливість вибрати колір або матеріал?</span
            >
            <svg
              class="faq-icon-svg icon-open"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="src/images/icons/icons.svg#icon-chevron-down"></use>
            </svg>

            <svg
              class="faq-icon-svg icon-close"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="src/images/icons/icons.svg#icon-chevron-up"></use>
            </svg>
          </button>
        </h3>

        <div class="ac-panel">
          <p class="ac-text">
            Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі
            доступні опції вказані на сторінці товару.
          </p>
        </div>
      </li>

      <li class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="ac-question"
              >Чи можна повернути товар, якщо він не підійшов?</span
            >
            <svg
              class="faq-icon-svg icon-open"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="src/images/icons/icons.svg#icon-chevron-down"></use>
            </svg>

            <svg
              class="faq-icon-svg icon-close"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="src/images/icons/icons.svg#icon-chevron-up"></use>
            </svg>
          </button>
        </h3>

        <div class="ac-panel">
          <p class="ac-text">
            Так, ви можете повернути товар протягом 14 днів, якщо він не був у
            користуванні та збережений у первинному вигляді.
          </p>
        </div>
      </li>

      <li class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="ac-question"
              >Чи надаєте ви послугу збирання меблів?</span
            >
            <svg
              class="faq-icon-svg icon-open"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="src/images/icons/icons.svg#icon-chevron-down"></use>
            </svg>

            <svg
              class="faq-icon-svg icon-close"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="src/images/icons/icons.svg#icon-chevron-up"></use>
            </svg>
          </button>
        </h3>

        <div class="ac-panel">
          <p class="ac-text">
            Так, під час оформлення замовлення можна обрати послугу збирання.
            Наші майстри зберуть меблі у зручний для вас час.
          </p>
        </div>
      </li>

      <li class="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" type="button">
            <span class="ac-question">Як здійснити оплату?</span>
            <svg
              class="faq-icon-svg icon-open"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="src/images/icons/icons.svg#icon-chevron-down"></use>
            </svg>

            <svg
              class="faq-icon-svg icon-close"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="src/images/icons/icons.svg#icon-chevron-up"></use>
            </svg>
          </button>
        </h3>

        <div class="ac-panel">
          <p class="ac-text">
            Ми приймаємо оплату карткою онлайн, банківським переказом або
            післяплатою при отриманні.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
